
<MatThemeProvider Theme="@theme1">
    <MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatAppBarTitle>CarHist</MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                @*<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                    <NavLink class="nav-link" href="admin-login">
                    <span class="oi oi-badge" aria-hidden="true"></span> Admin
                    </NavLink>
                    <NavLink class="nav-link" href="login">
                    <span class="oi oi-badge" aria-hidden="true"></span> Login
                    </NavLink>*@

                <NavLink class="nav-link" href="addCar">
                    <span class="oi oi-badge" aria-hidden="true"></span> AddCar
                </NavLink>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>
    </MatAppBarContainer>
</MatThemeProvider>

@code {
    MatTheme theme1 = new MatTheme()
        {
            Primary = MatThemeColors.Orange._500.Value,
            Secondary = MatThemeColors.BlueGrey._500.Value
        };

}
