@page "/adminLogin"

<div class="row">
    <div class="col">
    </div>
    <div class="col-5">
        <div>
            <h3>Admin Login</h3>
        </div>
        <div>
            <EditForm Model="LoginInputModel" OnValidSubmit="Login">
                <DataAnnotationsValidator />
                <h5 class="mat-subtitle1">Username</h5>
                <MatStringField @bind-Value="@LoginInputModel.Username" Label="Enter Username..." Outlined="true"></MatStringField>
                <ValidationMessage For="@(() => LoginInputModel.Username)" />

                <h5 class="mat-subtitle1">Password</h5>
                <MatStringField @bind-Value="@LoginInputModel.Password" Label="Enter Password..." Outlined="true"></MatStringField>
                <ValidationMessage For="@(() => LoginInputModel.Password)" />

                <MatButton class="btn btn-primary" Type="submit" Raised="true">Login</MatButton>

            </EditForm>
        </div>
    </div>
    <div class="col">
    </div>
</div>
