@page "/companyLogin"

<div class="row">
    <div class="col">
    </div>
    <div class="col-5">
        <div>
            <h3>Login</h3>
        </div>
        <div>
            <h5 class="mat-subtitle1">Username</h5>
            <MatStringField @bind-Value="@Username" Label="Enter Username..." Outlined="true"></MatStringField>
            <h5 class="mat-subtitle1">Password</h5>
            <MatStringField @bind-Value="@Password" Label="Enter Username..." Outlined="true"></MatStringField>
        </div>
        <MatButton class="btn btn-primary" @onclick="Login">Login</MatButton>
    </div>
    <div class="col">
    </div>
</div>
