@page "/"

<h1>Welcome to CarHist</h1>

<div class="container">
    <div class="row">
        <p>
            <EditForm Model="searchVINInputModel" OnValidSubmit="Insert">

            <DataAnnotationsValidator/>
            <MatStringField @bind-Value="@searchVINInputModel.SearchVIN" Label="Enter VIN number..." Outlined="true"></MatStringField>
            <ValidationMessage For="@(() => searchVINInputModel.SearchVIN)"/>

            <MatButton Type="submit" Raised="true">Search</MatButton>

            </EditForm>
        </p>
    </div>
</div>
